@font-face {
	font-family: "Roboto";
	src: url(font/Roboto-Regular.ttf);
}

p:not(.custom-heading),
a:not(.custom-heading) {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
