.custom-card {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	padding: 2rem;
	margin-bottom: 1rem;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.284);
}

.custom-card a,
.custom-card p {
	width: fit-content;
}

.glitch-image {
	width: 800px;
	height: 800px;
}

@media (max-width: 1060px) {
	.glitch-image {
		width: 100%;
		height: auto;
	}
}

.custom-heading {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
}

.custom-site-content {
	margin: auto;
	width: fit-content;
	width: min(100%, 900px);
}

.custom-fixed-bg {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}
