.custom-card {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	padding: 2rem;
	margin-bottom: 1rem;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.284);
}

.custom-font {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.2rem;
	color: #fff;
}

.custom-card a,
.custom-card p {
	width: fit-content;
}

.custom-heading {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
}

.custom-site-content {
	margin: auto;
	width: fit-content;
	width: min(100%, 900px);
}

.main-page-info-card {
	background-color: var(--bg-color);
	min-width: 460px;
	max-width: 460px;
}

.main-page-info-card a {
	text-shadow: var(--link-color) 0px 0px 2px;
}

.main-page-info-card p {
	text-shadow: var(--text-color) 0px 0px 2px;
}

@media (max-width: 460px) {
	.main-page-info-card {
		min-width: 100%;
		max-width: 100%;
	}
}

.new-logs {
	overflow: hidden;
	user-select: none;
}
