.custom-bg-opaque {
	background-color: var(--bg-color);
	height: 100%;
}

.custom-card {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 2rem;
	width: 100%;
}

.custom-card a,
.custom-card p {
	width: fit-content;
}

.custom-heading {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
}

.custom-site-content {
	margin: auto;
	width: fit-content;
	max-width: 900px;
}

.custom-fixed-bg {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}
