@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;

	scrollbar-color: #464646 #1c1c1c;
	--text-color: #ffffff;
	--link-color: #fff9cc;
	--bg-color: #2f2f2f;
}

.disable-filtering {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.font-ibm-mono {
	font-family: "IBM Plex Mono", monospace;
}

.font-poppins {
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
}

.half-opacity {
	opacity: 0.5;
}

p {
	color: var(--text-color);
}

a {
	text-decoration: underline !important;
	color: var(--link-color) !important;
	margin: -0.2rem;
	padding: 0.2rem;
}

a:hover {
	background-color: var(--link-color);
	color: var(--bg-color) !important;
}

hr {
	width: 100%;
	border-color: var(--text-color);
	opacity: 50%;
}

.bg-image-1 {
	background-position: center;
	background-image: url("../img/RBA_01.png");
	z-index: -1;
}

.bg-image-2 {
	background-position: center;
	background-image: url("../img/music.png");
	z-index: -1;
}

.bg-image-3 {
	background-position: center;
	background-image: url("../img/art.png");
	z-index: -1;
}

.bg-image-4 {
	background-position: center;
	background-size: cover;
	background-image: url("../img/wallpapers.png");
	z-index: -1;
}
