@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Noto Sans";
	src: url(font/NotoSans-VariableFont.ttf);
}

body {
	margin: 0;
	min-height: 100vh;

	font-family: "Noto Sans", sans-serif;

	/* nojs support */
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;

	scrollbar-color: #464646 #1c1c1c;
	--text-color: #ffffff;
	--link-color: #9db4ff;
	--bg-color: #000000;
}

.disable-filtering {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

* {
	box-sizing: border-box;
	margin: 0;
}

.half-opacity {
	opacity: 0.5;
}

p {
	color: var(--text-color);
}

a {
	text-decoration: underline !important;
	color: var(--link-color) !important;
	margin: -0.2rem;
	padding: 0.2rem;
}

a:hover {
	background-color: var(--link-color);
	color: var(--bg-color) !important;
}

hr {
	width: 100%;
	border-color: var(--text-color);
	opacity: 50%;
}

button {
	border: 1px dotted gray;
}

.bg-transparent {
	background-color: var(--bg-color);
}
