:root {
	--bg: rgb(22, 22, 22);
	--accent: rgb(61, 61, 61);
	--accent-dark: rgb(10, 10, 10);

	--link: rgb(45, 61, 236);
	--link-highlight: rgb(100, 111, 228);
	--text: rgb(255, 255, 255);

	--github-social: rgb(104, 108, 148);
	--yt-social: rgb(251, 59, 59);
	--email-social: #970012;
	--telegram-social: #3867d5;
	--disc-social: rgb(99, 99, 200);

	--rounding: 4px;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	background-color: var(--bg);
	color: var(--text);

	/* i hate centering anything */
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 10px;
	align-items: center;
}

body > * {
	max-width: 1100px;
}

h1 {
	font-size: 2rem;
}

p,
h2 {
	margin: 0;
}

.special-experience {
	position: relative;
	aspect-ratio: calc(18 / 9);
	background-size: contain;
	border: 1px solid var(--accent);
}

.general-experience,
.special-experience {
	background-color: var(--accent-dark);
	border-radius: var(--rounding);
}

.header-link {
	font-size: 2rem;
	color: var(--text);
}
#deadline {
	background-image: url("./deadline.png");
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: "100%";
}

.description-list {
	padding: 0;
	margin-left: 30px;
}

.description-list li {
	list-style-type: disc;
}

.gradient {
	border-radius: var(--rounding);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.781) 100%);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.header-title {
	font-size: 3rem;
}

.header-description {
	font-size: 1.2rem;
}

li {
	list-style-type: disc;
}

a {
	text-decoration: none;
	color: var(--link);
}

a:hover {
	color: var(--link-highlight);
}

header {
	border: 1px solid var(--accent);
	display: flex;
	flex-direction: row;
	width: 100%;
	border-radius: var(--rounding);
}

.content {
	padding: 20px;
}

.headline {
	border-bottom: 1px solid var(--accent-dark);
	padding: 10px;
}

nav {
	display: grid;
	grid-template-areas:
		"em em em gh gh"
		"dc dc dc yt yt";
	gap: 10px;
	width: 100%;
}

section {
	width: 100%;
	border-radius: var(--rounding);
	border: 1px solid var(--accent);
	padding: 20px;
	box-sizing: border-box;
}

.experience {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
	gap: 10px;
}

.experience > li {
	border: 1px solid var(--accent-dark);
	list-style-type: none;
	padding: 30px;
}

button,
.hover {
	border: none;
	background-color: unset;
	color: var(--text);

	border: 1px solid var(--accent);
	border-radius: var(--rounding);

	font-size: 1rem;
	padding: 10px;
	position: relative;
	display: flex;
	align-items: center;

	transition: all 0.1s;
	transition-property: color background-color;
}

.hover:hover {
	color: white;
}

.hover-github {
	grid-area: gh;
}

.hover-telegram {
	grid-area: em;
}

.hover-youtube {
	grid-area: yt;
}

.hover-discord {
	grid-area: dc;
}

.hover-github:hover {
	border: 1px solid var(--github-social);
	background-color: var(--github-social);
}

.hover-telegram:hover {
	border: 1px solid var(--telegram-social);
	background-color: var(--telegram-social);
}

.hover-youtube:hover {
	border: 1px solid var(--yt-social);
	background-color: var(--yt-social);
}

.hover-discord:hover {
	border: 1px solid var(--disc-social);
	background-color: var(--disc-social);
}

.fa-brands,
.fa-solid {
	padding-right: 10px;
}

.fa-arrow-right {
	right: 15px;
	position: absolute;
	font-size: 0.9rem;
}

.img {
	/* I like using flex because it does what I want it to and i'm lazy */
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

img {
	border-radius: var(--rounding);

	width: 100%;
	height: 100%;
	max-width: 256px;
	max-height: 256px;
}

footer {
	color: var(--accent);
}

@media only screen and (max-width: 890px) {
	.experience > li {
		padding-left: 10px;
		padding-right: 10px;
	}

	.experience ul {
		padding-left: 10px;
		margin-left: 10px;
	}

	nav {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 700px) {
	body {
		padding: 0;
	}

	header {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}

	img {
		max-width: unset;
		max-height: unset;
	}

	h1 {
		font-size: 2rem;
	}
}
